# icon | width in pixels at interface size 1 | x | y | name  (x, y: metres of the author's grid)
marker = icons/terminal.png | 22 | 886269.0 | 4198027.5 | Falkensee
marker = icons/terminal.png | 22 | 894385.1 | 4194933.0 | Stresow
marker = icons/terminal.png | 22 | 893456.4 | 4195247.7 | Berlin-Spandau
marker = icons/terminal.png | 22 | 893579.9 | 4195248.0 | Spandau
marker = icons/terminal.png | 22 | 893737.1 | 4195292.4 | Rathaus Spandau
marker = icons/terminal.png | 22 | 894176.0 | 4195700.6 | Altstadt Spandau
marker = icons/terminal.png | 22 | 896556.8 | 4194235.5 | Ruhleben
marker = icons/terminal.png | 22 | 897763.3 | 4193183.0 | Neu-Westend
marker = icons/terminal.png | 22 | 897168.1 | 4193255.1 | Olympia-Stadion
marker = icons/terminal.png | 22 | 901395.8 | 4189132.4 | Heidelberger Platz
marker = icons/terminal.png | 22 | 899883.9 | 4190937.2 | Halensee
marker = icons/terminal.png | 22 | 903480.3 | 4189042.8 | Innsbrucker Platz
marker = icons/terminal.png | 22 | 902524.1 | 4188894.9 | Bundesplatz
marker = icons/terminal.png | 22 | 902453.1 | 4188893.7 | Bundesplatz
marker = icons/terminal.png | 22 | 906242.7 | 4186237.3 | Ullsteinstraße
marker = icons/terminal.png | 22 | 906254.1 | 4186929.6 | Kaiserin-Augusta-Straße
marker = icons/terminal.png | 22 | 906321.6 | 4187546.2 | Alt-Tempelhof
